:root {
  --ft_bg: #eee;
  --red: #FF3465;
  --lightred: hsla(346, 100%, 65%, 1);
  --darkred: hsla(346, 100%, 44%, 1);
  --dark: #495867;
  --bluishmid: #5D799D;
  --highlight: #bdd5ea;
  --light: #f7f7ff;
  --tablet_w: 768px;
  --mobile_w: 320px; }

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .25s; }

body, html {
  min-width: 320px;
  scroll-behavior: smooth;
  color: var(--dark); }

.active {
  border-bottom: 5px solid var(--red);
  font-weight: bold; }

a {
  text-decoration: none;
  color: #444; }

.tag {
  background-color: var(--red);
  color: #fff;
  padding: 7px;
  border-radius: 10px; }

.btn {
  border: none;
  padding: 10px;
  display: inline-block;
  background-color: var(--red);
  color: var(--light);
  cursor: pointer; }
  .btn a {
    color: var(--light); }
  .btn:hover {
    background-color: var(--lightred); }
  .btn:active {
    background-color: var(--darkred); }

.heading-text {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--dark); }
  @media screen and (max-width: 360px) {
    .heading-text {
      font-size: 1.5rem; } }

#header {
  display: flex;
  flex-direction: column; }
  #header .header__main {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 2; }
    #header .header__main .header-logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      margin-left: 30px; }
      #header .header__main .header-logo h1 {
        color: var(--dark);
        font-size: 1.6rem; }
        @media screen and (max-width: 560px) {
          #header .header__main .header-logo h1 {
            font-size: 1.3rem; } }

#header-img {
  height: 50px;
  margin-left: 10px;
  align-self: center; }
  @media screen and (max-width: 980px) {
    #header-img {
      height: 40px; } }

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #nav-bar ul {
    display: flex;
    flex-wrap: nowrap; }
    #nav-bar ul li {
      display: inline-block;
      padding: 0 5px 0;
      margin: 0 10px;
      font-size: 1.2rem; }
      @media screen and (max-width: 480px) {
        #nav-bar ul li {
          font-size: 1em;
          margin: 0; } }

#header .header__contacts {
  background-color: var(--dark);
  color: #fff;
  margin-top: 50px;
  padding: 5px 0;
  display: flex;
  justify-content: space-evenly; }
  @media (max-width: 540px) {
    #header .header__contacts {
      flex-wrap: wrap;
      line-height: 1.3;
      justify-content: flex-start; }
      #header .header__contacts span {
        white-space: nowrap;
        padding-left: 10px; }
        #header .header__contacts span:nth-child(1) {
          margin-right: 10px; } }

#home {
  max-width: 90vw;
  min-height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 900px) {
    #home {
      flex-direction: column;
      align-content: center; } }
  #home .home__info {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    background-color: var(--light);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 30vw;
    min-width: 30vw; }
    @media (max-width: 900px) {
      #home .home__info {
        min-width: 80vw; } }
    #home .home__info .btn {
      margin-top: 20px; }
  #home .home__video {
    display: flex;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15); }
    @media screen and (max-width: 580px) {
      #home .home__video {
        width: 320px;
        height: 240px; } }
    @media screen and (max-width: 580px) {
      #home .home__video iframe#video {
        width: 320px;
        height: 240px; } }

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  justify-content: center;
  padding: 20px 0 30px 0;
  min-height: 8rem;
  margin: 50px 0;
  background: var(--bluishmid);
  margin-bottom: 0; }
  .subscribe h2 {
    margin-bottom: 0;
    color: var(--light); }
  .subscribe .subscribe__input {
    padding: 20px; }
  .subscribe input#email {
    margin: 10px;
    padding-left: 10px;
    height: 36px;
    max-width: 60vw;
    min-width: 50vw; }

#features {
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0; }
  #features .features__wrap {
    margin: 0 auto;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 20px 20px; }
    @media (max-width: 700px) {
      #features .features__wrap {
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(3, 200px);
        padding: 20px; } }
    @media (max-width: 580px) {
      #features .features__wrap {
        grid-template-columns: 200px;
        grid-auto-rows: 200px; } }

.feature {
  display: flex;
  background-color: var(--ft_bg);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box; }
  @media (max-width: 420px) {
    .feature {
      padding: 10px; } }
  .feature img {
    width: 60px;
    height: 60px; }
    .feature img:hover {
      transform: translateY(-5px); }
    @media (max-width: 700px) {
      .feature img {
        width: 40px;
        height: 40px; } }
    @media (max-width: 420px) {
      .feature img {
        grid-column: 1/2; } }
  .feature .feature__description h3 {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 7px; }
    @media (max-width: 420px) {
      .feature .feature__description h3 {
        font-size: 1em;
        margin-bottom: 10px; } }

#order {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 50px 0; }
  #order .order__price {
    align-self: center;
    font-size: 30px; }
  #order .items__wrap {
    display: flex;
    justify-content: center;
    margin: 30px 0; }
    @media (max-width: 580px) {
      #order .items__wrap {
        flex-direction: column;
        justify-content: center; } }
    @media (max-width: 320px) {
      #order .items__wrap {
        flex-direction: column; } }
    #order .items__wrap .item {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: 20px;
      border: 1px solid #333;
      margin-right: 20px; }
      #order .items__wrap .item:last-child {
        margin-right: 0; }
      #order .items__wrap .item:hover {
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3); }
      @media (max-width: 580px) {
        #order .items__wrap .item {
          margin-bottom: 30px; }
          #order .items__wrap .item:last-child {
            margin-right: 20px; } }
      #order .items__wrap .item input {
        max-width: 30px;
        height: 20px;
        margin-top: 15px; }
      #order .items__wrap .item .item__img {
        max-height: 150px; }
        @media (max-width: 680px) {
          #order .items__wrap .item .item__img {
            max-height: 100px; } }
        @media (max-width: 580px) {
          #order .items__wrap .item .item__img {
            max-height: 200px; } }
  #order #order__submit {
    padding: 10px 50px;
    margin: 10px;
    align-self: center; }
    @media (max-width: 680px) {
      #order #order__submit {
        font-size: 1.1rem; } }

#footer * {
  color: #fff; }

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  color: #fff;
  padding: 10px; }
  @media (max-width: 420px) {
    #footer {
      flex-direction: column;
      align-items: flex-start; } }
  #footer .footer__social {
    display: flex;
    align-items: center; }
    @media (max-width: 420px) {
      #footer .footer__social {
        margin-bottom: 7px; } }
    #footer .footer__social .item {
      display: inline-block;
      margin-left: 7px; }
      #footer .footer__social .item a > svg {
        height: 30px;
        width: 30px;
        margin-top: 7px;
        fill: #fff; }
        #footer .footer__social .item a > svg:hover {
          fill: var(--light);
          border: 1px solid white;
          box-sizing: border-box; }
        @media (max-width: 420px) {
          #footer .footer__social .item a > svg {
            height: 40px;
            width: 40px; } }

footer {
  position: relative; }

@media screen and (max-width: 980px) {
  .logo h1 {
    font-size: 1.2em; } }

@media screen and (max-width: 480px) {
  .logo h1 {
    display: none; } }
